.fab-button {
    height: 70;
    margin: 15; 
    horizontal-align: right; 
    vertical-align: bottom; 
}

label {
    color: #222;
}

.fabContainer {
    vertical-align: bottom;
    horizontal-align: right;
}