/*
 * Basic lists
 */

.list {
    color: #111;
}
    .list .heading {
        font-size: 18;
        margin: 15 20 5 20;
    }
    .list .sub_heading {
        font-size: 15;
        color: #999;
        margin: 0 20 20 20;
    }

.list_no_lines .heading {
    margin-bottom: 15
}

.list_icon .icon {
    font-size: 25;
    width: 20;
    margin: 15 20 0 20;
}
.list_icon .heading {
    margin: 15 20 15 0;
}

.list_avatar .avatar {
    border-radius: 22;
    height: 44;
    width: 44;
    margin-left: 20;
}

.list .cb_in_list {
    margin-left: 10;
}

.list .toggle_in_list {
    margin-right: 20;
    color: #ffab00;
}